.input {
  width: 19.625rem;
  height: 3.3rem;
  background-color: var(--background-grey-color);
  border-radius: 0.5rem;
  padding-left: 1rem;

  &:focus {
    outline: 2px solid var(--primary-grey-color);
  }

  transition: 1s;

  @media (max-width: 380px) {
    width: 254px;
    transition: 1s;
  }
}
