:root {
  --primary-color: #fd377e;
  --primary-color-hover: #e064cc;
  --white-color: #FFFFFF;

  --deposit-border-color: #03b898;
  --withdraw-border-color: #e9ecef;
  --total-border-color: #e9ecef;

  --primary-grey-color: #212529;
  --secondary-grey-color: #343a40;
  --faded-grey-color: #868E96;

  --background-grey-color: #f8f9fa;
}

body {
  font-family: "Nunito", sans-serif;
}

