* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  border: none;
  background-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select {
  border: none;
  background-color: transparent;
}
