.header{
    width: 100%;
    height: clamp(4.3125rem, 10vw, 5.5rem);
    box-shadow: 0px 4px 32px -12px #00000040;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem
}

.logoBox{
    padding-inline: 1.5rem;
}