.flexBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1rem 1.5rem;
  }

  transition: 1s;

  @media (min-width: 760px) {
    flex-direction: row;
    transition: 1s;
  }
}
