.card {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-left: 0.25rem solid var(--deposit-border-color);
  border-radius: 0.25rem;
  margin-block: 0.9375rem;
  padding: 19px 14px;
  background-color: var(--background-grey-color);

  button {
    width: 3rem;
    height: 1.1875rem;
    font-size: 0.625rem;
    color: var(--primary-grey-color);
  }
}

.cardTop {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

@media (min-width: 400px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
